@mixin text80 {
  font-size: 8rem;
  line-height: 1;

  @include r($md) {
    font-size: 5rem;
  }

  @include r($sm) {
    font-size: 30px;
  }
}

@mixin text64 {
  font-size: 6.4rem;
  line-height: 1;

  @include r($md) {
    font-size: 4.6rem;
    line-height: 1.1;
  }

  @include r($sm) {
    font-size: 2.8rem;
    line-height: 1.1;
  }
}

@mixin text52 {
  font-size: 5.2rem;
  line-height: 1;

  @include r($sm) {
    font-size: 36px;
    line-height: 1.4;
  }
}

@mixin text40 {
  font-size: 4rem;
  line-height: 1;

  @include r($sm) {
    font-size: 20px;
    line-height: 1.2;
  }
}

@mixin text32 {
  font-size: 3.2rem;
  line-height: 1.1;

  @include r($md) {
    font-size: 32px;
  }

  @include r($sm) {
    font-size: 18px;
  }
}

@mixin text28 {
  font-size: 2.8rem;
  line-height: 1.2;

  @include r($md) {
    font-size: 2.4rem;
  }

  @include r($sm) {
    font-size: 18px;
  }
}

@mixin text24 {
  font-size: 2.4rem;
  line-height: 1.3;

  @include r($sm) {
    font-size: 18px;
    line-height: 1.2;
  }
}

@mixin text20 {
  font-size: 2rem;
  line-height: 1.3;

  @include r($sm) {
    font-size: 16px;
    line-height: 1.2;
  }
}

@mixin text16 {
  font-size: 1.6rem;
  line-height: 1.2;
}

@mixin text18 {
  font-size: 1.8rem;
  line-height: 1.2;
}

@mixin text14 {
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  line-height: 1.2;

  @include r($md) {
    font-size: 14px;
  }
}

@mixin text12 {
  font-size: 1.2rem;
  line-height: 1.1;
  letter-spacing: 0.4px;

  @include r($sm) {
    font-size: 10px;
  }
}

@mixin text10 {
  font-size: 1rem;
  line-height: 1.1;
  letter-spacing: 0.4px;

  @include r($sm) {
    font-size: 8px;
  }
}

h1,
.h1 {
  @include text80;
  font-weight: 500;
}

h2,
.h2 {
  @include text64;
  font-weight: 500;
}

h3,
.h3 {}

h4,
.h4 {
  @include text40;
  font-weight: 500;

  @include r($md) {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  @include r($sm) {
    font-size: 2rem;
  }
}

h5,
.h5 {
  @include text32;
  font-weight: 500;
}

.caps-1 {
  font-size: 1.8rem;
  line-height: 1.2;

  @include r($sm) {
    font-size: 14px;
  }
}

.caps-16-20 {
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.6px;

  @include r($sm) {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.4px;
  }
}

.caps-12-16 {
  font-size: 1.2rem;
  line-height: 1.1;
  letter-spacing: 0.4px;

  @include r($sm) {
    font-size: 12px;
  }
}